.cliente-modal {
  --width: 600px;
  --height: 80%; /* ou 600px */
}

.info-card ion-item {
  --padding-start: 0;
}

.dias {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-hint {
  display: block;
  font-size: 0.8rem;
  margin: 4px 16px;
}

@media (max-width: 600px) {
  .cliente-modal {
    --width: 95%;
    --height: 90%;
  }
}
