<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="menu-toggle">
      <ion-menu-button
        auto-hide="false"
        menu="main-menu"
        class="menu-button"
        [attr.aria-label]="menuOpen ? 'Fechar menu de navegação' : 'Abrir menu de navegação'"
      >
        <ion-icon [name]="menuOpen ? 'close' : 'menu'" class="menu-icon"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end" *ngIf="help && help.length">
      <ion-button (click)="openHelp()" class="quest" aria-label="Ajuda desta tela">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
