<ion-content class="ion-padding" fullscreen="true">

  <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 32px;">
    <img src="assets/img/logo.png" alt="Logo" style="max-width: 150px; height: auto;">
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <ion-list>
      <ion-item>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="Email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="Senha"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit">Entrar</ion-button>
  </form>

  <ion-item lines="none">
    <ion-label>Modo noturno</ion-label>
    <ion-toggle [checked]="theme.isDarkMode()" (ionChange)="theme.toggle()"></ion-toggle>
  </ion-item>
</ion-content>
