<ion-content class="ion-padding" fullscreen="true">
  <app-gear-background [gearCount]="6"></app-gear-background>
  <div class="content-wrapper">
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 32px;">
      <img src="assets/img/logo.png" alt="Logo" style="max-width: 150px; height: auto;">
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <ion-input
        type="email"
        formControlName="email"
        placeholder="Email"
        class="custom-input"
      ></ion-input>

      <ion-input
        type="password"
        formControlName="password"
        placeholder="Senha"
        class="custom-input"
      ></ion-input>

      <ion-button expand="full" type="submit">Entrar</ion-button>
    </form>

    <ion-button expand="full" fill="outline" routerLink="/planos">Planos</ion-button>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="theme.toggle()">
      <ion-icon [name]="themeIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
