<ion-app>
  <ng-container *ngIf="isPublicPage; else main">
    <ion-router-outlet></ion-router-outlet>
  </ng-container>
  <ng-template #main>
    <ion-split-pane contentId="main-content" when="(min-width: 1024px)" class="split-desktop">
      <ion-menu contentId="main-content" type="overlay" class="menu-desktop">
        <ion-content>
          <app-nav-menu></app-nav-menu>
        </ion-content>
      </ion-menu>

      <div id="main-content" class="main-content">
          <ion-header>
            <app-header></app-header>
          </ion-header>

          <ion-content>
            <ion-router-outlet></ion-router-outlet>
          </ion-content>
      </div>

    </ion-split-pane>
  </ng-template>
</ion-app>
