<ion-app>
  <ng-container *ngIf="isLoginPage; else main">
    <ion-router-outlet></ion-router-outlet>
  </ng-container>
  <ng-template #main>
    <ion-split-pane contentId="main-content" when="(min-width: 1024px)" class="split-desktop">
      <ion-menu contentId="main-content" type="overlay" class="menu-desktop">
        <ion-content>
          <app-nav-menu></app-nav-menu>
        </ion-content>
      </ion-menu>
      <div id="main-content" class="main-content">
        <app-header></app-header>
        <ion-router-outlet></ion-router-outlet>
      </div>
    </ion-split-pane>
  </ng-template>
</ion-app>
