<ion-content class="ion-padding" fullscreen="true">
  <div class="content-wrapper">
    <h2>Redefinir senha</h2>
    <p>Defina uma nova senha para sua conta.</p>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <ion-input type="password" formControlName="password" placeholder="Nova senha"></ion-input>
      <ion-input type="password" formControlName="confirm" placeholder="Confirmar senha"></ion-input>

      <ion-text color="danger" *ngIf="form.touched && !passwordsMatch">Senhas não conferem.</ion-text>

      <ion-button expand="full" type="submit" [disabled]="loading || !passwordsMatch">Salvar nova senha</ion-button>
      <ion-button expand="full" fill="clear" routerLink="/login">Voltar ao login</ion-button>
    </form>
  </div>
</ion-content>

