<ion-content class="ion-padding tutoriais-page">
  <h1 class="page-title">
    <ion-icon name="play-circle"></ion-icon>
    Tutoriais
  </h1>

  <div class="selected-wrapper" *ngIf="selected">
    <div class="selected-card">
      <div class="selected-header">
        <div class="title">
          <ion-icon [name]="selected.icon"></ion-icon>
          <span>{{ selected.title }}</span>
        </div>
        <ion-button fill="clear" size="small" (click)="closeSelected()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
      <p class="desc">{{ selected.description }}</p>
      <div class="video-wrapper">
        <iframe
          *ngIf="selected"
          [src]="getEmbedUrl(selected.youtubeUrl)"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

  <div class="category-section" *ngFor="let category of tutorialCategories">
    <button class="category-toggle" type="button" (click)="toggleCategory(category.title)">
      <div class="category-title">
        <ion-icon name="albums-outline"></ion-icon>
        <span>{{ category.title }}</span>
      </div>
      <ion-icon name="chevron-down-outline" [class.rotated]="isExpanded(category.title)"></ion-icon>
    </button>

    <div
      class="category-body"
      [class.expanded]="isExpanded(category.title)"
      [style.maxHeight]="isExpanded(category.title) ? '1200px' : '0px'"
    >
      <ion-grid class="cards-grid">
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="3" *ngFor="let v of category.videos">
            <ion-card class="video-card" (click)="select(v)">
              <div class="thumb">
                <img [src]="getThumbnail(v.youtubeUrl)" alt="Thumbnail do video" />
                <div class="play-overlay">
                  <ion-icon name="play"></ion-icon>
                </div>
              </div>
              <ion-card-header>
                <ion-card-title>
                  <ion-icon [name]="v.icon"></ion-icon>
                  {{ v.title }}
                </ion-card-title>
                <ion-card-subtitle>{{ v.description }}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

